.bg-image {
    background-image: url('./images/header3.png');
    min-height: 240px;
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */

}

/* May need to switch to body later */
html {
    background-color: #fff2e2;
}

.container {
    background-color: white;
}
.section {
    padding-top: 0px;
    padding-bottom: 0px;
}

#page-title {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
}

#typewriter {
    width: 35vw;
    border: crimson solid 10px;
}

#character-image {
    /* width: 216px;
    height: 324px; */

    width: 464px;
    height: 261px;
}

#character-info {
    border-bottom: solid black 1px;
}

#character-text {
    max-width: 1028px;
}

#new-comment {
    border-bottom: solid black 1px;
}