.bg-image {
    background-image: url('./images/header3.png');
    min-height: 240px;
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */

}

/* May need to switch to body later */
html {
    background-color: #fff2e2;
}

.container {
    background-color: white;
}
.section {
    padding-top: 0px;
    padding-bottom: 0px;
}

#page-title {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
}

#typewriter {
    width: 35vw;
    border: crimson solid 10px;
}

#character-image {
    /* width: 216px;
    height: 324px; */

    width: 464px;
    height: 261px;
}

#character-info {
    border-bottom: solid black 1px;
}

#character-text {
    max-width: 1028px;
}

#new-comment {
    border-bottom: solid black 1px;
}




/* ----------Chat page CSS------------------ */


:root {
	--dark-color-a: rgba(0, 0, 0, 0.94);
	--dark-color-b: #cb3030;
	--light-color: #e0e3f4;
}

/* Join chat page */

.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-a);
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.join-main .form-control {
	margin-left: 125px;
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	color: #fff;
	font-size: large;
	margin-bottom: 5px;
}
.form-control {
	align-items: center;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 15px;
    border-radius: 30px;
} 
.chat-container {
	max-width: 800px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

/* Chat page */
.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
    border-top: .7px solid;
    border-bottom: .7px solid;
}

.chat-sidebar::-webkit-scrollbar {
    width: 1em;
}

 
.chat-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat-sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.chat-messages {
	padding: 30px;
	font-size: larger;
	max-height: 500px;
	overflow-y: scroll;
    background-position: center;
    background-size: contain;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	/* background-color: var(--light-color); */
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
    display: flex;
}

.chat-messages .message .meta span {
	color: #777;
    margin-left: auto;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    flex: 1;
    outline: none;

}

button.send-btn {
    width: 50px;
	margin-left: 10px;
    border-radius: 50px;
    border: none;
    background: white;
    cursor: pointer;
}

.flex{
    display: grid;
    place-content: center;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}